<div class="modal modal-lg fade" style="width: 90% !important;" id="CvModal{{ cv.id }}" tabindex="-1"
     aria-labelledby="CommentModalLabel{{ cv.id }}"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Резюме</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="card mb-3" style="border: none">
                <table class="table-cv">
                    <tbody>
                    <tr>
                        <th scope="row"><p class="table-row">Имя</p></th>
                        <th scope="row"><p>{{ cv.first_name }}</p></th>
                    </tr>
                    <tr>
                        <th scope="row"><p class="table-row">Фамилия</p></th>
                        <th scope="row"><p class="table-row">{{ cv.last_name }}</p></th>
                    </tr>
                    <tr>
                        <th scope="row"><p class="table-row">Категория вакансии</p></th>
                        <th scope="row"><p class="table-row">{{ cv.job_category }}</p></th>
                    </tr>
                    <tr>
                        <th scope="row"><p class="table-row">Желаемая должность</p></th>
                        <th scope="row"><p class="table-row">{{ cv.position }}</p></th>
                    </tr>
                    <tr>
                        <th scope="row"><p class="table-row">Оклад</th>
                        <th scope="row"><p class="table-row">{{ cv.salary }}</p></th>
                    </tr>
                    <tr>
                        <th scope="row"><p class="table-row">Уровень образования</p></th>
                        <th scope="row"><p class="table-row">{{ cv.education_level }}</p></th>
                    </tr>
                    <tr>
                        <th scope="row"><p class="table-row">Образование</p></th>
                        {% for edu in cv.education.all %}
                        <th scope="row"><p class="table-row">{{ edu }}</p></th>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>