{% load static %}
{% load django_bootstrap5 %}
<div class="modal modal-lg fade" style="width: 90% !important;" id="EducationModal" tabindex="-1"
     aria-labelledby="CommentModalLabel{{ post.id }}"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-2">Образование</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="card mb-3" style="border: none">
                <div class="card-body">
                    <input type="text" id="place" class="form-control" placeholder="Образовательное учреждение"/><br>
                    <input type="text" id="course" class="form-control" placeholder="Курс/Факультет"/><br>
                    <input type="text" id="specialization" class="form-control" placeholder="Специальность"/><br>
                    <input type="text" id="started_at" class="form-control" placeholder="Начало обучения"/><br>
                    <input type="text" id="finished_at" class="form-control" placeholder="Окончание обучения"/><br>
                    <input type="button" id="btn-add-education" data-bs-dismiss="modal" value="Отправить"/>
                </div>
            </div>
        </div>
    </div>
</div>
{#<script src="{% static 'js/main.js' %}"></script>#}
