{% load static %}
{% load django_bootstrap5 %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Выберете резюме для отправки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="th-style">#</th>
                            <th scope="col" class="th-style">Должность</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cv in user_cvs %}
                            <tr>
                                <th scope="row">
                                    <label for="check"></label>
                                    <input type="checkbox" name="{{ cv.pk }}" id="check">
                                </th>
                                <td>{{ cv.position }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <input type="submit" class="btn btn-primary" value="Отправить">
                </div>
            </form>
        </div>
    </div>
</div>
