{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}HH{% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<nav class="navbar">
    <div class="nav-wrapper">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/icon.png' %}" class="brand-img" alt="logo">
        </a>
        {% if request.user.is_authenticated %}
            {% if request.user.is_employer == False %}
                <a href="{% url 'cv_add' request.user.pk %}">
                    <button type="button" class="button-add">
                        Создать резюме
                    </button>
                </a>
            {% else %}
                <a href="{% url 'vacancies' user.pk %}">
                    <button type="button" class="button-add">
                        Мои вакансии
                    </button>
                </a>
                <a href="{% url 'vacancy_add' %}">
                    <button type="button" class="button-add">
                        Создать вакансию
                    </button>
                </a>
            {% endif %}
            {% block menu %}{% endblock %}
            <div class="nav-items">
                <div class="dropdown">
                    <img src="{% static 'img/user.png' %}" class="icon-user dropdown-toggle" data-bs-toggle="dropdown"
                         aria-expanded="false" alt="profile">
                    <ul class="dropdown-menu" style="margin-left: -72px">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' user.pk %}">Посмотреть профиль</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'responses' user.pk %}">Мои отклики</a>
                        </li>
                        <li>
                            <form action="{% url 'logout' %}?next={{ request.get_full_path }}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="logout dropdown-item" value="Выйти">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.get_full_path }}" class="nav-enter">Войти</a>
            <a href="{% url 'register' %}" class="nav-enter">Зарегистрироваться</a>
        {% endif %}
    </div>
</nav>
<div class="container">
    <div class="content wrapper">
        {% block content %}{% endblock %}
    </div>
</div>
<footer class="footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-8 footer-block">
                <h5 class="footer-title">HeadHunter</h5>
                <p class="footer-text">Реклама на сайте</p>
                <p class="footer-text">Защита персональных данных</p>
                <p class="footer-text">Инвесторам</p>
                <p class="footer-text">Условия оказания услуг</p>
            </div>
            <div class="col-4 ">
                <h5 class="footer-title">Помощь</h5>
                <p class="footer-text">Пользовательское соглашение</p>
                <p class="footer-text">Каталог компаний</p>
                <p class="footer-text">Работа по профессиям</p>
            </div>
        </div>
        <div class="copyright pb-2">
            <p class="copyright-text">Copyright 2023</p>
        </div>
    </div>
</footer>
</div>
<script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</body>
</html>