{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    {% if user.is_authenticated and request.user.pk == user_obj.pk and request.user.is_employer is True %}
        <div class="d-flex flex-row flex-wrap" style="margin-bottom: 380px;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Название позиции</th>
                    <th scope="col">Дата обновления</th>
                    <th scope="col">Публикация</th>
                    <th scope="col">Редактирование</th>
                    <th scope="col">Обновить публикацию</th>
                    <th scope="col">Удаление</th>
                </tr>
                </thead>
                <tbody>
                {% for vacancy in vacancy_list %}
                    <tr>
                        <td class="col-3">
                            <a class="list-unstyled text-dark" href="{% url 'vacancy' vacancy.pk %} ">
                                {{ vacancy.job_title }}
                            </a>
                        </td>
                        <td class="col-3">{{ vacancy.updated_at }}</td>
                        <td class="col-2">
                            <form action="" method="get">
                                <input type="hidden" name="vac_pk"
                                       value="{{ vacancy.pk }}">
                                <input type="submit" class="btn btn-info" name="update"
                                       value="Обновить">
                            </form>
                        </td>
                        <td class="col-2">
                            <a href="{% url 'vacancy_update' user.pk vacancy.pk %}" class="btn btn-success">Редактировать
                                </a><br>
                        </td>
                        <td class="col-2">
                            {% if user_obj == user %}
                                <form action="" method="get">
                                    <input type="hidden" class="btn btn-primary" name="vac_pk"
                                           value="{{ vacancy.pk }}">
                                    {% if vacancy.is_published %}
                                        <input type="submit" class="btn btn-success" name="public"
                                               value="Снять с публикации">
                                    {% else %}
                                        <input type="submit" class="btn btn-primary" name="not_public"
                                               value="Опубликовать">
                                    {% endif %}
                                </form>
                            {% endif %}
                        </td>
                        <td class="col-2">
                            <a href="{% url 'vacancy_delete' user.pk vacancy.pk %}" class="btn btn-danger">Удалить
                                </a><br>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}


